body { background-color: #1F2933 }
.navbar-default, .panel > .panel-heading  {
  background-color: #102A43 !important;
  border-color: #102A43 !important;
  color:  #D9E2EC !important;  
}

.panel { background-color: transparent; border:  none}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #E7E7E7 !important;
  background-color: #1D1D1D !important;
}

/*{
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}*/

.app-auth {
  display: block;
}

.app-not-auth{
  display: none;
}

/* Layout */
.jumbotron {
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  padding: 10px 0;
}
/* Everything but the jumbotron gets side spacing for mobile-first views */
.masthead, .body-content {
  padding-left: 15px;
  padding-right: 15px;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn, .form-group{
  font-size: 21px;
  padding: 14px 24px;
}
/* Colors */
.green {color:#5cb85c;}
.orange {color:#f0ad4e;}
.red {color:#d9534f;}
.ltblue {color:#8CABCD;}

/* Login Form */
.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0 auto;
 }


.form-signin .checkbox {
  float: left;
  margin-left: 20px;
  margin-bottom: 30px;
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="text"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.form-signin input[type="password"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Footer Styles */
.footer {
  text-align: center;
  margin: 0 auto;
  padding: 10px 0;
}

.footer a:hover {
  text-decoration: none;
}

.hidden-child > * {
  display: none;
}

/* AJAX Loader */
.modal-loading {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3em;
/*    background: rgba( 255, 255, 255, .8 )
                url('./assets/img/loading.gif') 
                50% 50%
                no-repeat;*/
    background: rgba( 255, 255, 255, .8 )
            50% 50%
            no-repeat;
}

/*#date-modal {
      display:    none;
    position:   fixed;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    background: rgba( 255, 255, 255, .8 )
                url('./assets/img/loading.gif') 
                50% 50%
                no-repeat;
    background: rgba( 255, 255, 255, .8 )
            50% 50%
            no-repeat;
}

#date-modal .modal-body{
  top: 40%;
}

#date-modal .modal-footer{
  top: 60%;
  margin: auto;
}*/

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loading {
    display: flex;
}

/* Color Codes for Calendar */
li.date {

  display: block;
  width: 100%;
}

a.roster {
  cursor:pointer;
  color: #15c;
  font-weight: bold;
}

li.payDay {
  position: relative;
}

li.payDay:before {
  color: #CFDDCE;
  content: "\f0d6";
  font-family: FontAwesome;
  left:-5px;
  position:absolute;
  top:0;
}

abbr.ttw, span.ttw {
    color: #000000;   background-color: #00ff00;
}

div.dashboard div.row{
    border-bottom: 1px solid rgb(128,128,128);
}

abbr.ttw, span.ttw {
    color: #000000;   background-color: #00ff00;
}

.event-times {
  width: 100px;
}

div.event-item div {
  display: inline-block;
  padding-left: 10px;
}


div.date-box {
  float: left;
  display: block;
  margin-right: 0;
  padding-right: 0;
  padding-left: 15px;
  height: 100%;
  width: 17%;
}

div.event-item {
  float: right;
  display: block;
  margin-left: 0;
  padding-left: 0;
  width: 83%;
}


@media(max-width:767px){
  div.date-box {
    text-align: center;
    background-color: #E7E7E7;
    display:block;
    width:100%;
    height: 1.5em;
  }
  div.event-item {
    display: block;
    width: 100%;
    padding: 5px;
  }
}

div.event-icon {
  width: 40px;
  /*height: 100%;*/
  display: inline-block;
  
  text-align: center;

  padding: 3px 4px!important;
  margin-bottom: 0;
  font-size: 14px;
/*  font-weight: normal;
  line-height: 1.42857143;*/
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;


/*  color: #fff;*/
  /*background-color: #337ab7;*/
  border-color: #2e6da4;
}

div.event-icon.status {
  border: 1px solid transparent;
  border-radius: 4px;

}

.flsa {
  color: green;
}

.a-shift, a.a-shift, a.a-shift:visited {
  color: #CC0000;
}

.b-shift, a.b-shift, a.b-shift:visited {
  color: #169810;
}

.c-shift, a.c-shift, a.c-shift:visited {
  color: #000000;
}

@media (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
  #app, #app div.container {
    padding: 0;
  }
}
.rs-roster-title {
  text-align: center;
}

.ts-person-name, .ts-left-padding, .ts-position-title, .ts-workcode, .ts-col-1, .ts-col-2, .ts-col-3, .col-a, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
  word-break:break-all;
  overflow-wrap:break-word;
/*  display: inline-block;*/
  position: relative;
  min-height: 1px;
  /*padding-right: 3px;*/
  float: left;
}
.col-12 {
  width: 100%;
}
.col-11 {
  width: 91.66666667%;
}
.col-10 {
  width: 83.33333333%;
}
.col-9 {
  width: 75%;
}
.col-8 {
  width: 66.66666667%;
}
.col-7 {
  width: 58.33333333%;
}
.col-6 {
  width: 50%;
}
.col-5 {
  width: 41.66666667%;
}
.col-4 {
  width: 33.33333333%;
}
.col-3 {
  width: 25%;
}
.col-2 {
  width: 16.66666667%;
}
.col-1, .ts-left-padding {
  width: 5%;
}



.ts-col-1 {
  width: 4%;
}

.ts-col-2{
  width: 10%;
}

.ts-col-3{
  width: 25%;
}

.ts-col-4{
  width: 25%;
}

.ts-position-title {
  width: 23%;
}

.ts-person-name {
  width: 37%;
}

.ts-person-name span {
  font-style: italic;
}

.workcode {
  display: inline-block;
  padding: 2px 4px;
  margin-bottom: 0;
  font-size: 14px;
/*  font-weight: normal;
  line-height: 1.42857143;*/
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  width: 100%;
}

.panel-body .row {
    font-size: 14px;
    padding: 2px 4px;
    border-top: 1px solid #F1F1F1;
    vertical-align: middle;

}

.panel-body .ts-position-row:nth-child(odd){
  background-color: #F9F9F9;
}

.ts-workcode {
  width: 10%;
  padding: 0;
  overflow: hidden;
}

.filter-hidden {
  display: none;
}

.ts-bat {
  padding: 10px 15px;
  background-color: #96858F;
  color: #E7E6E8;
}

.ts-station-row {
  color: #D8DEE6;
  background-color: #6D7993;
}

.ts-unit-row {
  color: #F4FBFF;
  background-color: #9099A2;
}

.date-row {
  padding: 10px;
}

.ts-panel-Calendar {
  display: inline-block;
}

.ts-payday {
  color: #00B624;
}

@media (min-width: 767px) {
.ts-fixed-col {
  display: block;
  width: 600px;
  margin: 0 auto;

  }
}

.ts-hours {
  text-align: center;
}

.isVacant {
    background-color: #bf4a65 !important;
}

#msg .alert{
  max-width: 310px;
  margin: auto;

}

.navbar-static-top .navbar-collapse.in {
    overflow-y: visible; /* Bootstrap default is "auto" */
}

.ts-modal-header {
      padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f5f5f5;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}